<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>Santa</title>
</head>
<body>
    <div id="background" class="blurred"></div>
    <div id="background0" class="background"></div>
    <div id="background1" class="background"></div>
    <div id="loading"></div>
    <button id="start" onclick="start();">Start</button>
    <button id="stop" onclick="stop();">Stop</button>
    <script src="/static/script.js"></script>
</body>
</html>